<nav class="navbar">
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt=""
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn">About us</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="section-1">
  <div class="main-container d-flex">
    <div class="left-container">
      <div class="login-inner-container">
        <h2 style="font-weight: 600">Sign up</h2>
        <form class="d-flex flex-column">
          <div class="username-row d-flex" style="width: 100%">
            <div class="firstname d-flex flex-column">
              <label for="FirstName">First Name</label>
              <input type="text" placeholder="First name" />
            </div>
            <div class="lastname d-flex flex-column">
              <label for="LastName">Last Name</label>
              <input type="text" placeholder="Last name" />
            </div>
          </div>

          <div class="verify-email-div d-flex flex-column">
            <label for="Email">Email</label>
            <div class="verify-email-inner d-flex position-relative">
              <input type="text" placeholder="Email" style="width: 100%" />
              <button type="button" class="verify-btn">
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-patch-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                  />
                </svg> -->
                Verify
              </button>
            </div>
          </div>
          <div class="verify-email-div d-flex flex-column">
            <label for="OTP">Verify OTP</label>
            <div class="verify-email-inner d-flex position-relative">
              <input
                type="text"
                placeholder="Enter Your OTP"
                style="width: 100%"
              />
              <button type="button" class="verify-btn">
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-patch-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                  />
                </svg> -->
                Verify
              </button>
            </div>
          </div>
          <label for="Password">Password</label>
          <input type="password" placeholder="Password" />
          <label for="Confirm-Password">Confirm Password</label>
          <input type="password" placeholder="Confirm Password" />
          <button style="margin-top: 25px" class="login-btn">Sign up</button>
          <div style="margin-top: 25px" class="signup-row">
            <p>Already have an account?</p>
            <a href="" class="signup-bottom-btn">Login</a>
          </div>
        </form>
      </div>
    </div>
    <div class="right-container">
      <div class="illu-image">
        <img
          src="../../../assets/images/signup-illu.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
