<nav
  class="navbar fixed-top navbar-light bg-light"
  style="
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 4px 3px 3px -3px #999;
  "
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn signup-btn" routerLink="/signup">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section
  [@myAnimationTriggerForContainer]="state1"
  class="section-1"
  style="margin-top: 100px"
>
  <div class="main-container d-flex">
    <div class="left-container">
      <div class="illu-image">
        <img
          src="../assets/images/undraw_customer_survey_re_v9cj.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="right-container">
      <div class="login-inner-container">
        <h2 style="font-weight: 600">Login</h2>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="formSubmit()"
          class="d-flex flex-column"
        >
          <label for="Email">Email</label>
          <input
            type="text"
            placeholder="abc@xyz.com"
            name="email"
            required
            autofocus
            formControlName="email"
          />
          <div
            *ngIf="
              (loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched) ||
              loginForm.get('email')?.dirty
            "
          >
            <small class="text-danger" *ngIf="loginForm.value.email === ''"
              >Email address is required</small
            >
            <small
              class="text-danger"
              *ngIf="
                loginForm.get('email')?.invalid && loginForm.value.email !== ''
              "
              >Email address is invalid</small
            >
          </div>

          <label for="Password">Password</label>
          <div style="position: relative">
            <i
              class="material-icons show-password-icon"
              input
              (click)="hide = !hide"
            >
              {{ hide ? "visibility" : "visibility_off" }}
            </i>
            <input
              style="width: 100%; z-index: -1"
              placeholder="Password"
              name="password"
              formControlName="password"
              required
              [type]="hide ? 'password' : 'text'"
            />
          </div>

          <div
            *ngIf="
              (loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched) ||
              loginForm.get('password')?.dirty
            "
          >
            <small class="text-danger" *ngIf="loginForm.value.password === ''"
              >Password is required</small
            >
            <small
              class="text-danger"
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.value.password !== ''
              "
              >Password must be 8 character long</small
            >
          </div>
          <a style="margin-top: 25px" href="forgot-password"
            >Forget Password?</a
          >
          <button type="submit" style="margin-top: 25px" class="login-btn">
            Login
          </button>
          <div style="margin-top: 25px" class="signup-row">
            <p>Don't have an account yet?</p>
            <a routerLink="/signup" class="signup-bottom-btn">Sign up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
