<app-navbar navItem1="About us" navItem2="Sign up"></app-navbar>
<section class="section-1">
  <div class="main-container d-flex">
    <div class="left-container">
      <div class="illu-image">
        <img
          src="../assets/images/undraw_customer_survey_re_v9cj.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="right-container">
      <div class="login-inner-container">
        <h2 style="font-weight: 600">Login</h2>
        <form (ngSubmit)="formSubmit()" class="d-flex flex-column">
          <label for="Email">Email</label>
          <input type="text" placeholder="Email" name="email" [(ngModel)]="user.email" />
          <label for="Password">Password</label>
          <input type="password" placeholder="Password" name="password" [(ngModel)]="user.password" />
          <a style="margin-top: 25px" href="forgot-password">Forget Password?</a>
          <button type="submit" style="margin-top: 25px" class="login-btn">Login</button>
          <div style="margin-top: 25px" class="signup-row">
            <p>Don't have an account yet?</p>
            <a href="/signup" class="signup-bottom-btn">Sign up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
