<div class="content">
  <div
    fxLayout="row wrap"
    fxLayoutGap="25px grid"
    [@listAnimation]="surveys.length"
  >
    <div *ngIf="!isSurveyFound" class="no-surey-found-style">
      <img
        src="../assets/images/survey-not-found-svg.svg"
        width="500px"
        height="500px"
      />
      <h3>No surveys found</h3>
    </div>
    <div
      fxFlex="33%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      *ngFor="let survey of surveys"
    >
      <mat-card class="mat-elevation-z8">
        <div class="boundary">
          <mat-card-title
            style="color: #edf8ff; font-size: 22px; font-family: inherit"
            >{{ survey.surveyname }}</mat-card-title
          >
          <br />

          <mat-card-subtitle
            style="font-size: 15px; font-family: inherit; color: #edf8ff"
            >{{ survey.survey_type }}</mat-card-subtitle
          >
          <br />
          <mat-card-actions>
            <button
              mat-button
              class="view"
              (click)="onViewSurvey(survey.survey_id)"
            >
              VIEW
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
