<!-- <nav class="navbar">
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn">{{ navItem1 }}</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">
            {{ navItem2 }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<mat-toolbar class="nav">
  
  <span class="logo"><img
    src="../assets/images/PeopleStrong_Logo_Final.png"
    width="180px"
    height="35px"
    alt="PeopleStrong_Logo "
  /></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon button1" aria-label="Example icon-button with heart icon">
{{navItem1}}
  </button>
  <button mat-icon-button class="example-icon button2" aria-label="Example icon-button with share icon">
{{navItem2 }}
  </button>
</mat-toolbar>
