label,
input,
a {
  font-family: inherit;
  text-decoration: none;
}

a {
  color: var(--color-blue-primary);
}

label {
  margin-top: 25px;
}

p {
  margin: 0px;
}

input {
  margin-top: 5px;
  max-width: 400px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid var(--color-dark-light);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-primary);
}

nav {
  padding-left: 60px;
  padding-right: 60px;
}

.list-items {
  margin: 0;
  list-style: none;
}

.list-items > li > button {
  font-size: 20px;
  margin-right: 20px;
}

.signup-btn {
  background-color: var(--color-purple-primary);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.signup-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
}

.example-spacer {
  flex: 1 1 auto;
}
.logo {
  margin-left: 30px;
  margin-top: 10px;
}
.nav {
  background-color: white;
}
.button1 {
  margin-right: 25px;
  font-size: 18px;
  color: blue;
}
.button2 {
  margin-right: 40px;
  margin-left: 20px;
  font-size: 18px;
  color: blue;
}
.header-title {
  text-align: center;
  font-family: inherit;
  color: #f4563d;
  font-weight: 400;
  text-shadow: 2px 2px #eedbaa;
  font-family: inherit;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}
.button-border {
  text-align: center;
  margin-top: 20px;
}
#checkbox {
  height: min-content;
  margin-inline: 2px;
}
.save {
  background-color: #17089b;
  height: 45px;
  border-radius: 8px;
  width: 100px;
}
.save:hover {
  height: 45px;
  background-color: #46a4e8;
  color: #17089b;
}
.back-button {
  padding-bottom: 20px;
  margin-top: 20px;
}
.back {
  background-color: #46a4e8;
  margin-left: 75px;
}
label {
  font-family: inherit;
  font-weight: 300;

  font-size: 18px;
}
.form-heading {
  margin-top: 15px;
}
.subject-border {
  margin-top: 10px;
}
.inner-card {
  box-shadow: 1px 1px 5px #f1eafb;
  border-radius: 10px;
}
.Delete-btn {
  background-color: #c40e0e;
  height: 45px;
  border-radius: 8px;
  width: 100px;
}
.Centre {
  display: flex;
  justify-content: space-around;
}

.Delete-btn:hover {
  height: 45px;
  background-color: #ff5252;
  color: #17089b;
}

.check-box-style {
  display: flex;
  align-items: flex-end;
}

label,
input,
a {
  font-family: inherit;
  text-decoration: none;
}

a {
  color: var(--color-blue-primary);
}

label {
  margin-top: 25px;
}

p {
  margin: 0px;
}

input {
  margin-top: 5px;
  max-width: 400px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid var(--color-dark-light);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-primary);
}

nav {
  padding-left: 70px;
  padding-right: 70px;
}

.list-items {
  margin: 0;
  list-style: none;
}

.list-items > li > button {
  font-size: 20px;
  margin-right: 20px;
}

.signup-btn {
  background-color: var(--color-purple-primary);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.signup-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
}
