<nav
  class="navbar"
  style="
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 4px 3px 3px -3px #999;
  "
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn" (click)="onHome()">Home</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="header">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="25px"
    fxLayoutAlign="space-between"
    fxLayoutAlign.xs="start"
  >
    <div>
      <button
        mat-raised-button
        color="primary"
        class="back"
        (click)="moveBack()"
      >
        <i class="bi bi-arrow-left"></i>
        Back
      </button>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="create"
        (click)="onEditSurvey(survey.survey_id)"
      >
        Edit Survey
      </button>
    </div>
  </div>
</div> -->

<!-- <table
  border="1"
  align="center"
  width="50% "
  cellpadding="10px"
  cellspacing="5px"
>
  <tr colo bgcolor="#17089b" height="60px">
    <th align="center" valign="middle">Survey Name</th>
    <td>
      {{ survey.surveyname }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Survey Type</th>
    <td>
      {{ survey.survey_type }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Message Subject</th>
    <td>
      {{ survey.message_subject }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Message Body</th>
    <td>
      {{ survey.message_body }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Delay</th>
    <td>
      {{ survey.survey_dealy }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Created By</th>
    <td>
      {{ survey.createdBy }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Modified By</th>
    <td>
      {{ survey.modifiedBy }}
    </td>
  </tr>
</table> -->

<div class="background position-relative">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-6 inner-card">
          <form>
            <div class="row">
              <div class="col-6">
                <div class="form-heading">
                  <label for="survey-name"><h2>Survey Name</h2></label>
                </div>

                <div class="subject-border">
                  <p>{{ survey.surveyname }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Survey Type</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.survey_type }}</p>
                </div>
              </div>

              <div class="col-6">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Message Subject</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.message_subject }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="survey-name"><h2>Delay</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.survey_dealy }}</p>
                </div>
              </div>
              <div class="col-12">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Message Body</h2></label>
                  <div class="subject-border">
                    <p>{{ survey.message_body }}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="survey-name"><h2>Created By</h2></label>
                </div>

                <div class="subject-border">
                  <p>{{ survey.createdBy }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Modified By</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.modifiedBy }}</p>
                </div>
              </div>
              <div class="row">
                <div class="form-heading">
                  <button
                    mat-raised-button
                    color="primary"
                    class="create"
                    (click)="onEditSurvey(survey.survey_id)"
                  >
                    Edit Survey
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="img-container">
            <img
              class="img-fluid"
              src="../../../assets/images/undraw_survey_05s5.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
