<nav
  class="navbar fixed-top navbar-light bg-light"
  style="padding-top: 2rem; padding-bottom: 2rem"
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn" (click)="onHome()">Home</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  [@myAnimationTriggerForContainer]="state1"
  class="background position-relative"
  style="margin-top: 130px"
>
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <button
            (click)="moveBack()"
            style="background-color: transparent; border: none"
          >
            <i
              style="color: #17089b; font-size: 26px"
              class="bi bi-arrow-left"
            ></i>
          </button>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            class="create btn"
            (click)="onEditSurvey(survey.survey_id)"
          >
            Edit Survey
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 inner-card">
          <form>
            <div class="row" style="margin-top: 0">
              <div class="col-6">
                <label for="survey-name"><h2>Survey Name</h2></label>

                <div class="subject-border">
                  <p>{{ survey.surveyname }}</p>
                </div>
              </div>
              <div class="col-6">
                <label for="survey-name"><h2>Survey Type</h2></label>

                <div class="subject-border">
                  <p>{{ survey.survey_type }}</p>
                </div>
              </div>

              <div class="col-6">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Message Subject</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.message_subject }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="survey-name"><h2>Delay</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.survey_dealy }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="survey-name"><h2>Created By</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.createdBy }}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Modified By</h2></label>
                </div>
                <div class="subject-border">
                  <p>{{ survey.modifiedBy }}</p>
                </div>
              </div>
              <div class="col-12">
                <div class="form-heading">
                  <label for="sruvey-name"><h2>Message Body</h2></label>
                  <div class="subject-border">
                    <p>{{ survey.message_body }}</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="img-container">
            <img
              class="img-fluid"
              src="../../../assets/images/undraw_survey_05s5.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
