<nav
  class="navbar"
  style="
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 4px 3px 3px -3px #999;
  "
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn">Home</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn" routerLink="/login">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="header" style="padding: 150px; padding-top: 30px">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="25px"
    fxLayoutAlign="space-between"
    fxLayoutAlign.xs="start"
  >
    <div>
      <button
        mat-raised-button
        color="primary"
        class="back"
        (click)="moveBack()"
      >
        <i class="bi bi-arrow-left-short"></i>
        Back
      </button>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="create"
        (click)="onEditSurvey(survey.survey_id)"
      >
        Edit Survey
      </button>
    </div>
  </div>
  <hr />
  <hr />
  <div class="form-heading row">
    <label class="col-3" for="survey-name">Survey Name</label>
    <div class="subject-border col-9">
      <h4>{{ survey.surveyname }}</h4>
    </div>
  </div>

  <div class="form-heading row">
    <label class="col-3" for="sruvey-name">Survey Type</label>
    <div class="subject-border col-9">
      <h4>{{ survey.survey_type }}</h4>
    </div>
  </div>

  <div class="form-heading row">
    <label class="col-3" for="sruvey-name">Message Subject</label>
    <div class="subject-border col-9">
      <h4>{{ survey.message_subject }}</h4>
    </div>
  </div>

  <div class="form-heading row">
    <label class="col-3" for="sruvey-name">Message Body</label>
    <div class="subject-border col-9">
      <h4>{{ survey.message_body }}</h4>
    </div>
  </div>

  <div class="form-heading row">
    <label class="col-3" for="sruvey-name">Delay</label>
    <div class="subject-border col-9">
      <h4>{{ survey.survey_dealy }}</h4>
    </div>
  </div>
  <div class="form-heading row">
    <label class="col-3" for="sruvey-name">Created By</label>
    <div class="subject-border col-9">
      <h4>{{ survey.createdBy }}</h4>
    </div>
    <div class="form-heading row">
      <label class="col-3" for="sruvey-name">Modified By</label>
      <div class="subject-border col-9">
        <h4>{{ survey.modifiedBy }}</h4>
      </div>
    </div>
  </div>
</div> -->

<div class="header" style="margin-top: 30px">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="25px"
    fxLayoutAlign="space-between"
    fxLayoutAlign.xs="start"
  >
    <div>
      <button
        mat-raised-button
        color="primary"
        class="back"
        (click)="moveBack()"
      >
        Back
      </button>
    </div>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="create"
        (click)="onEditSurvey(survey.survey_id)"
      >
        Edit Survey
      </button>
    </div>
  </div>
</div>

<table
  border="1"
  align="center"
  width="50% "
  cellpadding="10px"
  cellspacing="5px"
>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Survey Name</th>
    <td>
      {{ survey.surveyname }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Survey Type</th>
    <td>
      {{ survey.survey_type }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Message Subject</th>
    <td>
      {{ survey.message_subject }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Message Body</th>
    <td>
      {{ survey.message_body }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Delay</th>
    <td>
      {{ survey.survey_dealy }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Created By</th>
    <td>
      {{ survey.createdBy }}
    </td>
  </tr>
  <tr bgcolor="pink" height="60px">
    <th align="center" valign="middle">Modified By</th>
    <td>
      {{ survey.modifiedBy }}
    </td>
  </tr>
</table>
