<nav class="navbar">
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/peoplestrong-share-logo.jpg"
        width="200px"
        height="52px"
        alt=""
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn">About us</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="section-1">
  <div class="main-container d-flex">
    <div class="left-container">
      <div class="illu-image">
        <img
          src="../assets/images/alt-survey+illustration.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="right-container">
      <div class="login-inner-container">
        <h2 style="font-weight: 600">Login</h2>
        <form class="d-flex flex-column">
          <label for="Email">Email</label>
          <input type="text" placeholder="Email" />
          <label for="Password">Password</label>
          <input type="password" placeholder="Password" />
          <a style="margin-top: 25px" href="">Forget Password?</a>
          <button style="margin-top: 25px" class="login-btn">Login</button>
          <div style="margin-top: 25px" class="signup-row">
            <p>Don't have an account yet?</p>
            <a href="" class="signup-bottom-btn">Sign up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
