<nav
  class="navbar fixed-top navbar-light bg-light"
  style="padding-top: 2rem; padding-bottom: 2rem"
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn signup-btn" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  [@myAnimationTriggerForContainer]="state1"
  class="container"
  style="margin-top: 100px"
>
  <h1 class="welcome_note">
    Welcome! <span style="color: #412cf8">{{ user }}</span>
  </h1>
  <div class="header">
    <ul
      class="ul-list d-flex justify-content-between align-content-center row"
      style="list-style: none"
    >
      <li class="col-4">
        <mat-label style="color: #17089b; font-size: 18px; margin-left: 10px"
          >Select Category</mat-label
        >
        <mat-form-field class="Dropdown">
          <mat-select
            style="font-size: 20px"
            value="All Surveys"
            name="Maharshi"
            class="panel"
            [(ngModel)]="selected"
          >
            <mat-option value="All Surveys">All Surveys</mat-option>
            <mat-option value="My Surveys">My Surveys</mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li class="d-flex col-4 justify-content-center align-items-center">
        <form class="search">
          <div class="search__wrapper">
            <input
              type="text"
              name=""
              placeholder="Search by Survey Name..."
              class="search__field"
              [(ngModel)]="search"
              [ngModelOptions]="{ standalone: true }"
            />
            <button type="submit" class="bi bi-search search__icon"></button>
          </div>
        </form>
      </li>
      <li class="d-flex col-4 justify-content-center align-items-center">
        <button
          mat-raised-button
          color="primary"
          (click)="onCreateNewSurvey()"
          class="create"
          routerLink="/create"
          style="font-size: 20px; padding: 10px"
        >
          <i class="bi bi-plus" style="padding-bottom: 5px"></i>
          New Survey
        </button>
      </li>
    </ul>
  </div>
  <hr />
</div>

<div [@myAnimationTriggerForContainer]="state1" class="container">
  <app-card
    [selectedFilter]="selected"
    surveyName="Testing survey"
    surveyType="Resigning"
    [searchInput]="search"
  ></app-card>
</div>
