.view {
  background-color: #ffb700;
  border-radius: 35px;
  width: 80px;
  color: #03005e;
}
.view:hover {
  background-color: #ffe9af;
  border: 1px solid #ffb700;
}

.header {
  position: relative;
  padding-top: 20px;
  list-style-type: none;
  /* padding-right: 75px; */
}

.Dropdown {
  margin-left: 10px;
  color: #17089b;
  border-radius: 10px;
  width: 300px;
}

.welcome_note {
  padding-left: 40px;
  padding-top: 50px;
  text-align: left;
  color: #fdb714;
  font-weight: 600;
  font-family: inherit;
  font-size: 30px;
  text-decoration: dashed;
}
.create {
  position: absolute;
  right: 10px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: #17089b;
  border: 0.7px solid #17089b;
  height: 45px;
  border-radius: 8px;
}
.create:hover {
  background-color: transparent;
  border: 0.7px solid #17089b;
  color: #17089b;
}
.mat-option {
  font-family: inherit;
  color: #03005e;
}

label,
input,
a {
  font-family: inherit;
  text-decoration: none;
}

a {
  color: var(--color-blue-primary);
}

label {
  margin-top: 25px;
}

p {
  margin: 0px;
}

input {
  margin-top: 5px;
  max-width: 400px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid var(--color-dark-light);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-primary);
}

nav {
  padding-left: 70px;
  padding-right: 70px;
}

.list-items {
  margin: 0;
  list-style: none;
}

.list-items > li > button {
  font-size: 20px;
  margin-right: 20px;
}

.signup-btn {
  background-color: var(--color-purple-primary);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.signup-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
}




.panel {
  margin-top: 20px;
}

