.view {
  background-color: #ffb700;
  border-radius: 35px;
  width: 80px;
  color: #03005e;
}
.view:hover {
  background-color: #ffe9af;
  border: 1px solid #ffb700;
}

.header {
  position: relative;
  padding-top: 20px;
  list-style-type: none;
  /* padding-right: 75px; */
}

.Dropdown {
  margin-left: 10px;
  color: #17089b;
  border-radius: 10px;
  width: 300px;
}

.welcome_note {
  padding-left: 40px;
  padding-top: 50px;
  text-align: left;
  color: #fdb714;
  font-weight: 600;
  font-family: inherit;
  font-size: 30px;
  text-decoration: dashed;
}
.create {
  position: absolute;
  right: 10px;
  margin-right: 25px;
  margin-top: 10px;
  background-color: #17089b;
  border: 0.7px solid #17089b;

  border-radius: 8px;
}
.create:hover {
  background-color: transparent;
  border: 0.7px solid #17089b;
  color: #17089b;
}
.mat-option {
  font-family: inherit;
  color: #03005e;
}

label,
input,
a {
  font-family: inherit;
  text-decoration: none;
}

a {
  color: var(--color-blue-primary);
}

label {
  margin-top: 25px;
}

p {
  margin: 0px;
}

input {
  margin-top: 5px;
  max-width: 400px;
  height: 50px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 40px;
  border: 1px solid var(--color-dark-light);
}

input:focus {
  outline: none;
  border: 1px solid var(--color-blue-primary);
}

nav {
  padding-left: 70px;
  padding-right: 70px;
}

.list-items {
  margin: 0;
  list-style: none;
}

.list-items > li > button {
  font-size: 20px;
  margin-right: 20px;
}

.signup-btn {
  background-color: var(--color-purple-primary);
  border-radius: 30px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.signup-btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-purple-primary);
  color: var(--color-purple-primary);
}

.panel {
  margin-top: 20px;
}

/* --------------------------------------- */

.search {
  /* position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); */
}
.search * {
  outline: none;
  box-sizing: border-box;
}
.search__wrapper {
  position: relative;
}
.search__field {
  width: 50px;
  height: 50px;
  font-family: inherit;
  color: transparent;
  font-family: Lato, sans-serif;
  font-size: 1.35em;
  padding: 1em 50px 1em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search__field:focus {
  border-radius: 40px;
  width: 50vw;
  color: #17089b;
  cursor: default;
}
.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}
.search__icon {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: #e9f1f4;
  color: #17089b;
  width: 50px;
  height: 50px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  color: gray;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  color: gray;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  color: gray;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  color: gray;
  left: 0;
  transition-property: top, color;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*="hidden"] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
