

.header-title{
    text-align: center;
    font-family: inherit;
    color: #F4563D;
    font-weight: 400;
    text-shadow: 2px 2px #eedbaa;
    font-family: inherit;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.button-border{
    text-align: center;
    margin-top: 20px;
}
#checkbox{
    height: min-content;
    margin-inline: 3px;
}
.save{
    background-color: #17089b;
    height: 45px;
    border-radius: 8px;
    width: 100px;
}
.save:hover{
    height: 50px;
    background-color: #46A4E8;
    color: #17089b;
}
.back-button{
    padding-bottom: 20px;
    margin-top: 20px;
    
}
.back{
    background-color: #46A4E8;
    margin-left: 75px;
}
label{
    font-family: inherit;
    font-weight: 300;

    font-size: 18px;
}
.form-heading{
    margin-top: 20px;
}
.subject-border{
    margin-top: 10px;
}
.inner-card{
    box-shadow: 1px 1px 5px #F1EAFB; 
    border-radius: 10px;
}


.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }