<nav
  class="navbar"
  style="
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 4px 3px 3px -3px #999;
  "
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn" routerLink="/home">Home</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background">
  <div class="bootstrap-wrapper">
    <div class="back-button">
      <button mat-raised-button color="primary" class="back">Back</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 inner-card">
          <h1 class="header-title">Create Survey</h1>
          <form>
            <div class="form-heading">
              <label for="survey-name">Survey Name</label>
            </div>

            <div class="subject-border">
              <input
                required
                [(ngModel)]="survey.surveyname"
                name="SurveyName"
                placeholder="Survey Name"
              />
            </div>
            <div class="form-heading">
              <label for="sruvey-name">Survey Type</label>
            </div>
            <div class="subject-border">
              <input
                required
                [(ngModel)]="survey.survey_type"
                name="surveyType"
                placeholder="Survey Type"
              />
            </div>
            <div class="form-heading">
              <label for="sruvey-name">Message Subject</label>
            </div>
            <div class="subject-border">
              <input
                required
                [(ngModel)]="survey.message_subject"
                name="Subject"
                placeholder="Message Subject"
              />
            </div>
            <div class="form-heading">
              <label for="sruvey-name">Message Body</label>

              <angular-editor
                required
                [(ngModel)]="survey.message_body"
                name="MessageBody"
                [config]="config"
              ></angular-editor>
            </div>

            <div class="form-heading">
              <label for="survey-name">Delay</label>
              <div>
                <input
                  required
                  [(ngModel)]="survey.survey_dealy"
                  name="Delay"
                  placeholder="Delay (No. of Days)"
                />
              </div>
            </div>

            <div class="button-border Centre">
              <button
                (click)="formSubmit()"
                class="save"
                mat-raised-button
                color="primary"
              >
                Submit
              </button>
              <button
                (click)="discardChange()"
                class="Delete-btn"
                mat-raised-button
                color="primary"
              >
                Discard
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
