<nav
  class="navbar fixed-top navbar-light bg-light"
  style="
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 4px 3px 3px -3px #999;
  "
>
  <div class="container-fluid d-flex">
    <div class="logo">
      <img
        src="../assets/images/PeopleStrong_Logo_Final.png"
        width="230px"
        height="40px"
        alt="PeopleStrong_Logo "
      />
    </div>
    <div class="nav-items">
      <ul class="list-items d-flex">
        <li class="list-item">
          <button class="btn" routerLink="/login">Login</button>
        </li>
        <li class="list-item">
          <button class="btn signup-btn" routerLink="/signup">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section
  class="section-1"
  [@myAnimationTriggerForContainer]="state1"
  style="margin-top: 150px"
>
  <div class="main-container d-flex">
    <div class="left-container">
      <div class="illu-image">
        <img
          src="../../../assets/images/forgot_password.svg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
    <div class="right-container">
      <div class="login-inner-container">
        <h2 style="font-weight: 600">Forgot Password</h2>
        <form
          [formGroup]="forgotpasswordForm"
          class="d-flex flex-column"
          (ngSubmit)="formSubmit()"
        >
          <div class="verify-email-div d-flex flex-column">
            <label for="Email">Email</label>
            <div class="verify-email-inner d-flex position-relative">
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                name="email"
                style="width: 100%"
              />
              <button
                type="button"
                class="verify-btn"
                (click)="onVerifyEmail()"
                [disabled]="forgotpasswordForm.get('email')?.invalid"
              >
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-patch-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                  />
                </svg> -->
                Verify
              </button>
            </div>
            <div
              *ngIf="
                (forgotpasswordForm.get('email')?.invalid &&
                  forgotpasswordForm.get('email')?.touched) ||
                forgotpasswordForm.get('email')?.dirty
              "
            >
              <small
                class="text-danger"
                *ngIf="forgotpasswordForm.value.email === ''"
                >Email address is required</small
              >
              <small
                class="text-danger"
                *ngIf="
                  forgotpasswordForm.get('email')?.invalid &&
                  forgotpasswordForm.value.email !== ''
                "
                >Email address is invalid</small
              >
            </div>
            <div *ngIf="isLoading">
              <mat-spinner [diameter]="30"></mat-spinner>
            </div>

            <!-- <mat-spinner></mat-spinner> -->
          </div>
          <div class="verify-email-div d-flex flex-column">
            <label for="OTP" *ngIf="!OtpVerified">Verify OTP</label>
            <label for="OTP" *ngIf="OtpVerified">OTP Verified</label>
            <div
              class="verify-email-inner d-flex position-relative"
              *ngIf="!OtpVerified"
            >
              <input
                type="text"
                placeholder="Enter Your OTP"
                style="width: 100%"
                formControlName="otp"
                name="otp"
              />
              <button
                type="button"
                class="verify-btn"
                [disabled]="!OtpResponse"
                (click)="onVerifyOtp()"
              >
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-patch-check"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
                  />
                  <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                  />
                </svg> -->
                Verify
              </button>
            </div>
          </div>
          <label for="Password">Password</label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            name="password"
          />
          <div
            *ngIf="
              (forgotpasswordForm.get('password')?.invalid &&
                forgotpasswordForm.get('password')?.touched) ||
              forgotpasswordForm.get('password')?.dirty
            "
          >
            <small
              class="text-danger"
              *ngIf="forgotpasswordForm.value.password === ''"
              >Password is required</small
            >
            <small
              class="text-danger"
              *ngIf="
                forgotpasswordForm.get('password')?.invalid &&
                forgotpasswordForm.value.password !== ''
              "
              >Password must be 8 character long</small
            >
          </div>
          <label for="Confirm-Password">Confirm Password</label>
          <input
            type="password"
            placeholder="Confirm Password"
            name="password"
            formControlName="confirmPassword"
          />
          <div>
            <small
              *ngIf="
                forgotpasswordForm.value.password !==
                forgotpasswordForm.value.confirmPassword
              "
              class="text-danger"
              >Passwords do not match
            </small>
          </div>
          <button
            style="margin-top: 25px"
            class="login-btn"
            type="submit"
            [disabled]="!OtpVerified"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
